* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #23b0f1;
    color: rgb(50, 26, 190);
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

h1 {
    font-size: 1.5em;
    text-align: left;
}

h2, h3 {
    color: rgb(50, 26, 190);
}

main {
    padding: 20px;
}

.sobre-a-loja {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.imagem-loja {
    flex: 1;
    margin-right: 20px;
}

.imagem-loja img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.texto-loja {
    flex: 1;
    font-size: 18px;
    text-align: justify;
    margin-top: 20px;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.produto {
    width: calc(25% - 20px);
    margin: 10px;
    text-align: center;
}

.produto img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #23b0f1;;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #1883b4; /* Tom mais escuro de azul ao passar o mouse */
}

nav {
    margin-top: 10px;
    margin-left: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: rgb(50, 26, 190);
    margin-right: 20px;
    font-size: 16px;
}

section {
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    margin-bottom: 8px;
}

form input,
form textarea {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    margin-bottom: 0;
}

form button {
    background-color: #23b0f1;
    color: #000; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

form button:hover {
    background-color: #1883b4; /* Tom mais escuro de verde ao passar o mouse */
}

footer {
    background-color: #23b0f1;
    color: #000;
    text-align: center;
    padding: 10px;
}

.cotacao h2,
.contato h2 {
    text-align: center;
}

.contato {
    text-align: center;
}

form {
    margin: 0 auto;
    text-align: left;
}

@media screen and (max-width: 767px) {

    .sobre-a-loja {
        flex-direction: column; /* Altera a direção do flex para empilhar verticalmente */
    }

    .imagem-loja {
        margin-right: 0; /* Remove a margem à direita para ocupar toda a largura */
    }

    .imagem-loja img {
        max-width: 100%; /* A imagem ocupa 100% da largura da página */
    }

    .texto-loja {
        margin-top: 20px; /* Adiciona espaço acima do texto para separá-lo da imagem */
    }

    .produtos .produto {
        width: 100%; /* Cada produto ocupa 100% da largura, um por linha */
        margin: 10px 0; /* Adiciona espaço acima e abaixo de cada produto */
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {

    .sobre-a-loja {
        flex-direction: row; /* Retorna à direção original do flex para mostrar lado a lado */
    }

    .imagem-loja {
        margin-right: 20px; /* Restaura a margem à direita para a imagem da loja */
    }

    .imagem-loja img {
        max-width: 100%; /* A imagem continua a ocupar 100% da largura da página */
    }

    .texto-loja {
        margin-top: 0; /* Remove o espaço acima do texto para alinhá-lo com a imagem */
        flex: 1; /* Mantém o texto flexível para ocupar o restante do espaço */
    }

    .produtos .produto {
        width: calc(33.33% - 20px); /* Cada produto ocupa 33.33% da largura, três por linha */
    }
}